---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import type { ImageMetadata } from "astro";

interface Props {
	title: string;
	description?: string;
	keywords?: string[];
	author?: string;
	image?: string | ImageMetadata;
}

const { title, description, keywords, author, image } = Astro.props;

function formatImageForMeta(): string | undefined {
	if (!image) return undefined;
	if (typeof image === "string") return image;

	return image.src;
}
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />

		<meta name="description" content={description} />
		<meta name="keywords" content={keywords?.join(", ")} />
		<meta name="author" content={author} />

		<meta name="og:title" content={title} />
		<meta name="og:image" content={formatImageForMeta()} />
		<meta property="og:type" content="website" />
		<meta name="og:description" content={description} />

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
			rel="stylesheet"
		/>
		<script
			is:inline
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
		></script>
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--navbar-height: 5rem;
	}

	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 10px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 10px;
	}

	::selection {
		@apply bg-purple-600 text-white;
	}

	::-moz-selection {
		@apply bg-purple-600 text-white;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-black text-white;
	}

	.default-container-size {
		@apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
	}

	.default-card {
		@apply bg-gray-700/20 border border-gray-600 rounded-xl shadow-md backdrop-blur;
	}

	.markdown-prettier {
		@apply flex flex-col gap-6;
	}

	.markdown-prettier h1 {
		@apply text-4xl font-bold;
	}

	.markdown-prettier h3 {
		@apply text-2xl font-semibold text-slate-200;
	}

	.markdown-prettier img {
		@apply rounded-lg;
	}

	.markdown-prettier pre {
		@apply p-4 rounded-xl;
	}
</style>
